<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retardateur de prise de photo</title>
  <style>
    #counter {
      font-size: 48px;
      opacity: 1;
      transition: opacity 0.5s linear;
    }
  </style>
</head>

<body>
  <div id="counter">10</div>
  <script>
    const counterElement = document.getElementById('counter');
    const cameraImageElement = document.getElementById('cameraImage');
    let count = 10; // Nombre de secondes avant la prise de photo

    function updateCounter() {
      if (count === 0) {
        // Si le compte à rebours atteint 0, prendre la photo
        takePhoto();
        clearInterval(intervalId); // Arrêter le compte à rebours
        return;
      }

      // Appliquer l'effet fadeOut
      counterElement.style.opacity = 0;

      // Mettre à jour le texte du compteur après le délai de l'effet fadeOut
      setTimeout(() => {
        counterElement.textContent = count;
        // Rétablir l'opacité pour l'effet fadeIn
        counterElement.style.opacity = 1;
      }, 500); // Durée de l'effet fadeOut en millisecondes (0,5 seconde)

      count--; // Décrémenter le compteur
    }



    // Mettre à jour le compte à rebours toutes les secondes (1000ms)
    const intervalId = setInterval(updateCounter, 1000);
  </script>
</body>

</html>



