<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/windows/styles/normalize.css">
  <link rel="stylesheet" href="../src/windows/styles/style.css">
  <title>Document</title>
</head>
<body>

  <div class="_home-wrp">
    <div class="hello-speak">
      <h1>
          Captuerez des<br />
          souvenirs<br />
          inoubliables !
      </h1>
      <div class="indicator">
          Touchez l'écran pour<br />
          commencer
      </div>
  </div> 

    <!-- <div class="_mode_selection_wrp">
      <div class="logo">
        <img src="../public/logo.png" alt="" srcset="">
      </div>
      <div class="row gap-80 w-100 justify-center">

        <div class="mode-app">
          <div class="mode-icon"></div>
          <p>Photographie</p>
        </div>
        <div class="mode-app">
          <div class="mode-icon"></div>
          <p>Boomerang</p>
        </div>
      
      </div>
    </div> -->

    
  </div>
  <!-- <div class="hello-speak">
      <h1>
          Captuerez des<br />
          souvenirs<br />
          inoubliables !
      </h1>
      <div class="indicator">
          Touchez l'écran pour<br />
          commencer
      </div>
  </div> -->
  
</body>
</html>