<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/windows/styles/helpers.css">
  <link rel="stylesheet" href="../src/windows/styles/style.css">
  <title>Document</title>
</head>
<body>



  <div class="system-control-wrp">
    <div class="statusBarMachine">
      <div class="check_point"></div>
      <div class="status-bar-info row">
        <div class="network"></div>
      </div>
    </div>

    <div class="mle-system-wrp">

      <div class="mle-header">
        <div class="mle-title">Access control</div>
        <button class="btn-mle">Annuler</button>
      </div>

      <div class="mle-body">
        <div class="digit-wrp ">
          <div id="digit" class="digit">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>0</span>
          </div>
       </div>
      </div>
      
    </div>
  </div>

  
</body>
</html>