@font-face {
  font-family: 'bankgothic-regular'; /* Nom de la police que vous voulez utiliser */
  src: url('/font/Bank-Gothic-Font/bankgothic-regular.ttf') format('truetype');
}
*{
  margin: 0;
  padding: 0;
}

body{
background-color: #fffcf9;
  font-family: 'bankgothic-regular';
  overflow: hidden;
  overflow-y: auto;
}

/* splash screen */
#splash-screen {
  font-family: 'bankgothic-regular';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.splash-content{
  width: 30%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.splash-content h1 {
  text-transform: capitalize;
  font-size: 5em;
  padding-bottom: 20px;
}
.splash-content p {
  font-size: 1.2em;
  text-align: center;
  color: #999;
}
/* end splash screen */

/* header */
header{
  font-family: 'bankgothic-regular';
  height: 50px;
}

.header-nav-wrp{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-logo > svg {
  height: 18px;
}
.header-burger{
  display:flex; 
  gap:20px;
  font-size: 20px;
}
/* end header */

/* section 1 */
.selection-wrp{
  /* background-color: aqua; */
  display: flex;
  height: 80dvh;
}

.mf-row{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.col-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: red; */
  width: 50%;
}
.mf-section-head{
  /* background-color: gray; */
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  /* width: 90%; */
}

.mf-intro{
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 2.7vw;
}

.mf-intro > span{
  text-align: right;
}

.mf-intro > h2{
  font-size: 2.2em;
}


.col-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* background-color:blue; */
}

.mf-img-row{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* background-color: rgb(243, 242, 242); */
  background-color: #f0e4d8;
  height: 90%;
  /* width: 95%; */
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#test{
  height: 600px;
  transform: rotate(-9deg); 
  transform-origin: center;
  position: relative;
}
#test2{
  position: relative;
  margin-top: 150px;
  height: 600px;
  transform: rotate(-9deg); 
  transform-origin: center;
}

.more {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
  font-size: 0.5em;
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
}

/* end home section */





/* work section */
.work{
  height: 100vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgba(237, 235, 235, 0.671);
}


/* contact */
.contact{
  /* background-color: red; */
  height: 80dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.mf-contact-us{
  width: 30%;
  background-color: rebeccapurple;
}

.mf-contact-from{
  width: 50%;
  background-color: violet;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mf-col{
  display: flex;
  gap: 20px;
  flex-direction: column;
}



:root{
	--headingSize: 55px;
	--background-color: black;
}




#_anm{
  display: inline-block;
  overflow: hidden;
  animation: .3s swift-up ease-in-out forwards;	
}

i{
  font-style: normal;
  position: relative;
  top: var(--headingSize);
  animation: .5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media screen and (max-width: 1000px){
	
	:root{
		--headingSize: 35px;
	}
}