/* Helpers CSS */

/* Structure */
.wrp {
  background-color: red;
  display: flex;
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

/* Alignement */
.text-center {
  text-align: center;
}

.w-100{
  width: 100%;
}
.justify-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.gap-30{
gap: 30px;
}

.gap-80{
  gap: 80px;
}


.align-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Marges et espacements */
/* Classes pour la gestion des marges. 'm' pour margin, 't' pour top, 'r' pour right, 'b' pour bottom, 'l' pour left. */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

/* Padding */
/* Classes pour la gestion des paddings. 'p' pour padding, 't' pour top, 'r' pour right, 'b' pour bottom, 'l' pour left. */
.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}


.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-25 {
  padding-left: 25px;
}




/* Tailles de texte */
.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

/* Couleurs de fond */
.bg-primary {
  background-color: #3498db;
  color: #fff;
}

.bg-success {
  background-color: #2ecc71;
  color: #fff;
}

.bg-danger {
  background-color: #e74c3c;
  color: #fff;
}

/* Bordures */
.border {
  border: 1px solid #ccc;
}

.border-rounded {
  border-radius: 5px;
}

/* Masquer et afficher */
.hidden {
  display: none;
}
.v-hidden{
visibility: hidden;
}
.v-visible{
  visibility: visible;
}
.visible {
  display: block;
}


.err-container{
  font-family: 'bankgothic-regular';
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;

  z-index: 1;
}
._err{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 8px solid #ff5555;
  border-radius: 3px;
  background-color: #181818;
  width: 600px;
  padding: 20px;
}
._err{
  color: #ff5555;
}
#_err_ico_loader {
  height: 190px;
  position: relative;
  top: 30px;
  left: 0;
  bottom: 0;
}

.error-indicator {
  margin-bottom: 20px;
  border-radius: 30px;
}